/* LOGO *********************************************/
.dipp {
	color: rgb(80,150,255);
}
.container {
	position: relative;
}

/* MENU *********************************************/
.loginButton {
	font-weight: bold;
	text-transform: uppercase;
}
.dropdown-toggle {
	cursor: pointer;
}
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
    right: 30px;
    left: auto;
}
.dropdown-menu li a {
	cursor: pointer;
}

/* CAROUSEL *****************************************/
.carousel {
	-moz-box-shadow: 0 3px 10px 1px rgb(150,150,255);
	-webkit-box-shadow: 0 3px 10px 1px rgb(150,150,255);
	box-shadow: 0 3px 10px 1px rgb(150,150,255);
}
.mycarousel {
	height: 400px;
}
.carousel-control {
	cursor: pointer;
}
.mycarousel-item {
	position: relative;
}
.mycarousel-image {
	position: absolute;
}
#escudo {
	position: absolute;
	top: 30px;
	left: -35px;
	height: 400px;
	z-index: 1;
	cursor: pointer;
}
.mycarousel-item-legend {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 45px;
	font-weight: bolder;
	position: absolute;
	right: 0px;
	top: 250px;
	z-index: 1;
	color: orange;
	text-align: right;
	background-color: rgba(0,0,0,0.6);
	padding: 10px;
}
#move-left {
	z-index: 2;
}

/* INDEX ********************************************/
.mainRow {
	position: relative;
}
.navbarUsach {
	position: inherit;
}
.title {
	width: 100%;
}
.pageTitle {
	position: relative;
	width: 100%;
	min-height: 250px;
	background-position: 0px -250px;
	background-size: 100% auto; 
}
.pageTitleContainer {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
.pageTitleMain {
	position: absolute;
	bottom: 20px;
}
.pageTitleText {
	font-family: 'Share Tech', sans-serif;
	font-size: 45px;
	color: white;
}
.pageTitleSubText {
	font-family: 'Share Tech', sans-serif;
	font-size: 30px;
	color: rgb(230,230,230);
}

/* FOOTER *******************************************/
.footer {
	z-index: -1;
	bottom: 0px;
	left: 0px;
	width: 100%;
	min-height: 25px;
	border-top: 2px solid rgb(200,200,200);
	background-color: rgb(240,240,240);
	font-family: 'Share Tech', sans-serif;
}
.footer-col1 {
	padding: 10px 0px;
}
.footer-col2 {
	padding: 10px 0px;
	text-align: right;
	color: rgb(120,120,120);
}
.footer-col2:hover {
	color: rgb(80,80,80);
}
.footer-col3 {
	padding: 10px 0px;
	color: rgb(120,120,120);
}
.footer-col3:hover {
	color: rgb(80,80,80);
}






.nav-tabs.nav-stacked > li > a {
	cursor: pointer;
}
.programaBoard {
	width: 100%;
	min-height: 200px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px dashed rgb(221,221,221);
	color: rgb(200,200,200);
	text-align: center;

	/* Firefox */
	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
}
.programaBoardFound {
	min-height: 200px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(221,221,221);
	background-color: rgb(240,240,240);
	padding: 10px;
}
















@media (min-width: 980px){ /* PC */
	.menuGrav {
    	float: right !important;
  	}
}

@media (max-width: 980px){ /* Celular */
	.carousel {
		display: none;
	}
	#escudo {
		display: none;
	}
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
	.footer {
		margin: 0px -20px;
		width: auto;
	}
	.footer-col1 {
		text-align: left;
		padding: 2.5px 10px;
	}
	.footer-col2 {
		text-align: left;
		padding: 2.5px 10px;
	}
	.footer-col3 {
		padding: 2.5px 10px;
	}
	.title {
		width: auto;
		margin: 0px -20px;
	}
	.pageTitle {
		background-size: auto auto;
		min-height: 150px;
	}
	.pageTitleContainer {
		width: 100%;
	}
}

@media (min-width: 1200px){
	.pageTitleContainer {
		width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}
	.pageTitle {
		position: relative;
		width: 100%;
		min-height: 250px;
		background-position: 0px -500px;
		background-size: 100% auto; 
	}
}